################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JTPoseDump/obj/Debug
/JTPoseDump/bin/Debug
/JTPoseDump/obj
/packages
/JTPoseDump/bin/Release
